/* место для вашего кода */
body {
  width: 1100px;
}

.header__link,
.header__address {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  place-items: center;
  padding: 92px 50px 96px 50px;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.header__menu {
  justify-self: start;
}
.header__links-list {
  display: flex;
  list-style-type: circle;
  gap: 32px;
  text-underline-offset: 2px;
}
.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}
.header__address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
  text-underline-offset: 2px;
}
.address__item {
  align-items: flex-start;
}
.text-link {
  text-underline-offset: 3px;
}
.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  position: relative;
  z-index: -2;
}
.cover__title {
  color: white;
  font-size: 100px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding: 165px 50px 106px 50px;
}
.letter-spacing-extended {
  letter-spacing: 30px;
}
.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: left;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}
.overlay {
  inset: 0;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  word-spacing: 5px;
}
.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  padding: 12px 31px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
.lots {
  margin-top: 180px;
}
.lots__heading {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}
.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}
.card-link,
.card {
  height: 100%;
  display: block;
}
.card-link {
  text-decoration: none;
  color: inherit;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  z-index: -2;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  z-index: -2;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  z-index: -2;
}
.card__title,
.card__text {
  position: relative;
  color: white;
  z-index: 1;
}
.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 48px 40px 0 40px;
}
.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin: 0 40px 48px 40px;
}
.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  text-transform: lowercase;
  margin: 0 0 0 40px;
}
.about {
  margin-top: 120px;
}
.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 72px;
}
.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 98px 0 100px 0;
}
.about__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 688px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer {
  margin-top: 180px;
  padding: 0 50px 82px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  place-items: center;
}
.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: start;
}
.footer__menu-list {
  width: 164px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-underline-offset: 2px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-self: end;
}
